#user-info {
	min-width: 345px;
	min-height: 350px;
}

#order-info {
	min-width: 345px;
	min-height: 216px;
}

#supply-order-info {
	min-width: 345px;
	min-height: 96px;
}

#user-info ul {
	height: 50vh;
	width: 18vw;
	min-width: 200px;
	min-height: 350px;
}

.WHome .info {
	background-color: lightblue;
}

.WHome li {
	background-color: lightblue;
	border: none;
	padding: 0;
}

.WHome > div > div {
	height: 55vh;
	min-height: 385px;
}
